.container {
    width: 800px;
    margin: 0 auto;
}
.satu {
    margin-top: 50px;
    width: 200px;
    height: 200px;
    background-color:#4ced77;
    border: solid ;
    box-shadow: 30px 30px;
    border-image-source: url(../img/hearts.png);
    border-image-repeat: round;
    border-image-width: 20px;
    border-image-slice: 20 22;
    border-image-outset: 20px;
}

.dua {
    margin-top: 50px;
    width: 200px;
    height: 200px;
    background-color:blue;
    border: solid;
    border-image: url(../img/border1.png) 35 round;
    border-image-outset: 18px;
    border-image-width: 30px;
    box-shadow: 20px 20px 30px -10px;
}